.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;800&display=swap');
.rel{
  font-family: 'Raleway', sans-serif; 
}
.w100{
  font-weight: 100;
}
.w200{
  font-weight: 200;
}
.w300{
  font-weight: 300;
}
.w400{
  font-weight: 400;
}
.w700{
  font-weight: 700;
}
.w800{
  font-weight: 800;
}
.container-full{
  height: 100vh;
  background-color: rgb(34, 34, 34);
  margin: 0px;
}
.sec1{
  height:  100vh;
  color: white;
  /* background-color: rgb(34, 34, 34); */
}
.alcenter{
  align-items: center;
}
.jscenter{
  justify-content: center;
}
.vercenter{
  margin-top: auto;
  margin-bottom: auto;
}
.sldiv{
  justify-content: right;
}
.sl1{
  text-align: right;
  font-size: 70px;  
}
.twyellow{
  color: #FFC614;
}
.imglogo{
  height: 20vh;
  animation-name: fadein;
  animation-duration: 5s;
  animation-play-state: initial;
}
.midline{
  font-size: 300px;  
}
.date{
  font-size: 50px;
}
.sec2{
  height:  100vh;
  color: white;
  /* background-color: rgb(34, 34, 34); */
}
.speakers{
  color: black;  
  width: 10px;
}

.speakers img{
  width:100%
}
.sec3{
  height:  100vh;
  color: white;
  /* background-color: rgb(34, 34, 34); */
}
.sec4{
  height:  100vh;
  color: white;
  /* background-color: rgb(34, 34, 34); */
}

.bg{
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 9%, rgb(12, 18, 37) 45%, rgba(0,0,0,1) 79%);
}
.con{
  position: absolute;
  background-color: transparent;
}
.dot{ 
  position: absolute;
  height: 400%;
  width: 100%;

}
.tria4{
  background-image: url('./triang2.png');
  background-repeat:repeat;
  
  /* background-size: 100%; */
  /* border-top-left-radius: 70%;
  border-bottom-right-radius:100%; */
  /* top: 100%;
  left: -10%; */
  border-bottom-left-radius: 30%;
  
  width:100%;
  height:100%;

}
.tria5{
  background-image: url('./triang2.png');
  background-repeat:repeat;
  
  /* background-size: 100%; */
  /* border-top-left-radius: 70%;
  border-bottom-right-radius:100%; */
  /* top: 100%;
  left: -10%; */
  transform: translateX(180deg);
  border-bottom-left-radius: 30%;
  width:100%;
  height:100%;
  top:100%

}

